/*Start of Index.php*/
.login-wrapper{
    background-color: #800000;
    display: table;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.login-container{
    display: table-cell;
    vertical-align: middle;
    background-color: 
}

.login-form {
    margin: 0 auto;
    width: 30%;
    background-color: #FFF8F0 ;
    padding: 4%;
    box-shadow: 5px 5px rgb(128,0,0,0.9);
    border-radius: 2%;
}
 
#login-logo-image{
    width: 40%;
    margin-left: 30%;
    margin-top: -50%;
}

#login-text{
    text-align: center;
    font-size: 4vmin;
}

.forgot-password-link{
    float: right;
    font-size: 2vmin;
}

.login-btn{
    width: 100%;
}

.error{
    color: red;
    font-size: 2vmin;
}
/*End of Index.php*/

/*Navigation*/
body{
    overflow-x: hidden !important;
}

.title{
    margin-left: 2%;
    margin-top: 1% !important;
    margin-bottom: 1% !important;
    display: inline-block;
    color: #FBF5F3 !important;
    font-size: 2.8vmin;
}

.active-user{
    display: inline-block;
    margin-top: 1% !important;
    color: #FFFFFF;
    font-size: 2vmin;
}

.account-container{
    float: right;
    margin-top: 1%;
    margin-right: 2%;
}

.dropdown-account{
    display: inline-block;
}

.dropdown-settings{
    color: #D3D3D3 !important;
}

.dropdown-toggle::after{
    float: right;
    margin-top: 1% !important;
    font-size: 3vmin;
}

.dropdown-item{
    font-size: 2vmin !important;
    background: #FFFFFF;
}
/*End of Navigation*/


/*Start of Side Navigation*/
#content{
    background-color: #5B211E !important;
}

.navigation {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #5B211E !important;
	overflow-x: hidden;
	padding-top: 4%;
    transition: 0.5s;
    border-right: 2px #DCB149;
    border-right-style: double;
}

#ngcbdc-logo{
    width: 60%;
}

.open{
    margin-left: 3%;
    color: #FFFFFF !important;
    font-size: 3vmin;
}

.open:hover{
    text-decoration: none;
    color: #EFF1F3 !important;
}

.dropdown-menu{
    margin-right: 20% !important;
}

.navigation .close {
	position: absolute;
	top: 2%;
	right: 10%;
    font-size: 5vmin;
    color:#FFFFFF;
    z-index: 1;
}
.navigation .close:hover {
	color: #DCB149;
}

.slide #sideNav-a {
    font-size: 3vmin;
    color: #FFFFFF;
}

#sideNav-a {
    color: #FFFFFF !important;
    text-decoration: none !important;
}

#sidebar {
    color: #FFFFFF;
    transition: all 0.3s;
}

.sidebar-header{
    text-align: center;
}

#sidebar .sidebar-header {
    padding-bottom: 3%;
}

#sidebar ul.components {
    margin-left: 2% !important;
}

#sidebar ul p {
    padding: 10px;
    color: #FFFFFF;
}

#sidebar ul li #sideNav-a {
    padding: 4%;
    font-size: 2.5vmin;
    display: block;
    color: #FFFFFF;
}

#sidebar ul li #sideNav-a:hover {
    background: #FFFFFF;
    color: #0D304F !important;
}

ul ul #sideNav-a  {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}
/*End of Side Navigation*/

/*Start of Admin Module*/
/*Start of Admin-Dashboard*/
.dashboard-card-container{
    margin-left: 1% !important;
    margin-top: 5%;
    text-align: center;
}

.account-card-container{
    width: 30%;
    margin-left: 1%;
}

.password-card-container{
    width: 30%;
    margin-left: 3%;
}

.project-card-container{
    width: 30%;
    margin-left: 3%;
}
/*End of Admin-Dashboard*/

/*Admin - Create an Account*/
.account-creation-container{
    margin-bottom: 3%;
}

.label-styles{
    font-weight: bold;
}

#create-accnt-btn{
    float: right;
}


/*Start of List of Accounts*/
.list-of-accounts-container{
    width: 96%;
    margin-left: 2%;
    margin-top: 3%;
}

.list-of-accounts-table{
    text-align: center;
}
/*End of List of Accounts*/
/*End of Admin Module*/


/*Start of Materials Engineer Module*/
/*Start of Materials Engineer-Dashboard*/
.card-body{
    border: 2px;
}

#no-task-text{
    font-size: 5vmin;
    color: #D3D3D3;
    text-align: center;
    margin-top: 6%;
}

.card-header{
    background-color: #DCB149 !important;
    color: #0D304F;
}

.card-header:hover{
    text-decoration: none !important;
}

.add-task-container{
    margin-left: 5%;
    margin-top: 5%;
    height: 50vh;
}

.container-counter{
    margin-left: 80%;
    color: green !important;
    font-size: 2vmin;
}

textarea{
    resize: none !important;
}

.task-submitbtn-container{
    float: right !important;
    margin-top: 3% !important;
}

#date-label{
    display: inline-block;
    float: left;
}

.add-task-date{
    width: 45% !important;
    display: inline-block;
    float: left;
    margin-left: 2%;
    margin-top: -1%;
}

#task-textarea{
    margin-top: 5%;
    height: 40%;
}

#save-task-btn{
    float: right;
    margin-top: 5% !important;
}

.today-task-container{
    margin-left: 1%;
    margin-top: 4%;
    width: 112% !important;
    height: 50vh;
}

.todo-task-header{
    overflow-y: scroll;
}

.today-task-table{
    text-align: center;
    width: 100% !important;
}

.today-task-table > thead > tr > th {
    background-color: #124E78;
    color: #FFF8F0;
}

#view-all-task-btn{
    float: right;
    margin-top: -2%;
    margin-bottom: -4%;
}

.low-in-quantity-container{
    width: 96% !important;
    margin-left: 2% !important;
    margin-top: 5%;
    margin-bottom: 2% !important;
}

.low-quantity-table{
    width: 100% !important;
    text-align: center;
}

.low-quantity-table > thead > tr > th {
    background-color: #124E78;
    color: #FFF8F0;
}

.card-header{
    margin-bottom: 2% !important;
}
/* End of Materials Engineer-Dashboard*/

/*Materials Engineer-Disposal Slip*/
.disposal-form-table{
    width: 100% !important;
    text-align: center;
}

/*Materials Engineer-Deliveredin*/
.deliveredin-form-table{
    width: 100% !important;
    text-align: center;
}

/*Materials Engineer- Requisition*/
.requisition-form-table{
    width: 100% !important;
    text-align: center;
}

/*Materials Engineer-Hauling*/
.date-container, .formnum-container{
    float: right !important;
}

/*Start of Materials Engineer-View All Task*/
.view-all-task-container{
    width: 96%;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
}

.view-all-task-table{
    text-align: center;
}

.view-all-task-table > thead > tr > th{
    background-color: #124E78;
    color: #FFF8F0;
}

.view-hauling-receipt-container{
    width: 96%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.generate-hauling-btn{
    float: right;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
}

.modal-body{
    text-align: center;
}
/*End of Materials Engineer-View All Task*/


/*Start of Materials Engineer - Project*/
.navigation{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: #800000 !important;
    color: #FFF8F0 !important;
}

.card-header-project{
    background-color: #0267C1 !important;
}

.project-tabs{
    width: 100% !important;
    margin-top: 2%;
}

.project-tabs-content{
    margin-top: 5%;
    width: 100%;
    text-align: center;
    font-size: 2.2vmin;
}

.project-container{
    width: 100%;
    margin-left: 50%;
    margin-top: 5%;
}

.card-form{
    margin-bottom: 4% !important;
}

.add-btn{
    float: right;
    margin-top: 1%;
}

.add-project-btn{
    margin-top: 1%;
    float: right !important;
}

.projects-table > thead > tr > th{
    background-color: #124E78;
    color: #FFF8F0;
}

.delete-btn-container{
    float: right !important;
    padding: 1% !important;
}

/*End of Materials Engineer - Project*/

/*Materials Engineer - Add Materials*/
.adding-materials-container{
    width: 90% !important;
    margin-left: 5% !important;
    margin-top: 3% !important;
    text-align: center;
}

.adding-materials-table > thead > tr > th {
    background-color: #124E78;
    color: #FFF8F0;
}

/*Start of *Materials Engineer - Stockard*/
.delivered-in-container{
    width: 100% !important;
}

.stockcard-tabs-content{
    margin-top: 3%;
    width: 100% !important;
    text-align: center;
    width: 100%;
}

.stockcard-table> thead > tr > th{
    background-color: #124E78;
    color: #FFF8F0;

}

#generate-stockcard{
    float: right !important;
    margin-top: 1% !important;
}

/*End of Materials Engineer - Stockard*/

/*Start of Materials Engineer- Site Materials*/
.site-materials-table{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center !important;
}

.site-materials-container{
    width: 96% !important;
    margin-left: 2% !important;
    margin-top: 3% !important;
}

.site-materials-table > thead > tr > th{
    background-color: #124E78;
    color: #FFF8F0;
}

/*End of Materials Engineer- Site Materials*/


/*Start of Materials Engineer - View Inventory*/
.view-inventory-container{
    width: 96%;
    text-align: center;
    margin: auto;
}

.view-inventory-tabs-table{
    text-align: center;
}

.view-inventory-tabs-table thead tr{
    background-color: #0D304F;
    color: #FFFFFF;
}

.view-inventory-content{
    width: 100% !important;
}

.view-inventory-tabs-content{
    margin-top: 3%;
    width: 100%;
}

.category-card{
    width: 100%;
    box-shadow: 0 0 4px black;
    display: inline-block;
}

.category-card-body{
    padding: 20% !important;
}

#open-category-btn{
    margin-left: 25% !important;
}

.project-title{
    text-align: center;
    width: 100% !important;
    margin-top: 3%;
}

.list-of-material{
    margin-top: 3% !important;
}

.category-table > thead > tr > th{
    background-color: #0D304F;
    color: #FFFFFF;
}
/*Materials Engineer - Material Categories*/
.category-title{
    text-align: center;
    margin-top: 3%;
}

/*Start of Materials Engineer-Hauled Items*/
.hauled-items-container{
    width: 90%;
    margin-left: 5%;
    margin-top: 5% !important;
    text-align: center;
    margin-bottom: 2% !important;
}

.hauled-items-container thead tr{
    background-color: #0D304F;
    color: #FFFFFF;
}

/*Start of Materials Engineer-Hauling*/
.date-container, .formnum-container{
    float: right !important;
}

.hauling-container{
    margin-top: 5%;
}

.hauling-form-table{
    width: 100% !important;
    text-align: center;
}

.save-btn-container{
    float: right !important;
    padding: 2% !important;
}

.add-row-btn{
    text-align: center !important;
}
/*End of Materials Engineer-Hauling*/


/*Admin - List of Accounts*/
.list-of-accounts-container{
    width: 90%;
    margin: auto;
    margin-top: 5%;
}

.list-of-accounts-table thead tr{
    background-color: #0D304F;
    color: #FFFFFF;
}

.hauling-form-card{
    margin-left: 10%;
}
/*End of Admin - List of Accounts*/
/*Start of Admin - Projects*/
#edit-project-modal{
    width: 100% !important;
}

.mat-eng-involved{
    text-align: left;
}

/*Start of Admin - Create Project*/
.add-project-container{
    width: 86%;
    margin-left: 7%;
    margin-top: 3%;
}

/*Start of Materials Engineer - returns*/
.return-container{
    width: 100% !important;
}

.returns-or-replace-content{
    margin-top: 3%;
    width: 100% !important;
    text-align: center;
}

.returns-or-replace-content thead tr{
    background-color: #0D304F;
    color: #FFFFFF;
}

.replace-container{
    width: 100% !important;
}

.returns-table thead tr{
    background-color: #0D304F;
    color: #FFFFFF;
}

.returns-content{
    width: 90% !important;
    margin-left: 5%;
    margin-top: 5% !important;
    margin-bottom: 2% !important;
}

table .clickable{
    cursor: pointer;
}

.hiddenrow {
    padding: 0 4px !important;
    background-color: #eeeeee;
    font-size: 13px;
}

.fa-plus:before{
    color: #0267C1 !important;
}
/*End of Materials Engineer - returns*/



/*Start of Materials Engineer - Report Page*/
.reportpage-table{
    width: 96% !important;
    margin-top: 3% !important;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}

.reportpage-table > thead > tr > th{
    background-color: #124E78;
    color: #FFF8F0;
}

#generate-report{
    float: right !important;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
/*End of Materials Engineer - Report Page*/

/*Start of Materials Engineer - Reconcilliation*/
.recon-btn{
    display: inline-block;
    width: 100%;
    margin-bottom: 2%;
}

#generate-recon-btn{
    width: 15%;
    float: right;
    margin-left: .5%;
    margin-right: .5%;
}

#edit-recon-btn{
    width: 5%;
    float: right;
}

#save-recon-btn{
    width: 5%;
    float: right;
    margin-left: .5%;
    margin-right: .5%;
}

#cancel-recon-btn{
    width: 6%;
    float: right;
    margin-right: 1%;
}

.reconcilliation-table{
    width: 100% !important;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    margin-bottom: 2%;
}

.reconcilliation-table > thead > tr > th {
    background-color: #124E78;
    color: #FFF8F0;
}
/*End of Materials Engineer - Reconcilliation*/


/*Start of Materials Engineer - Account*/
.accnt-btn{
    float: right !important;
}

.save-accnt-btn{
    display: inline-block;
}

.cancel-accnt-btn{
    display: inline-block;
}

.show-pass{
    margin-left: 4% !important;
}
/*End of Materials Engineer - Account*/

/*Start of Materials Engineer - Adding of Materials*/
.adding-category-tabs-content{
    margin-top: 3%;
    margin-left: 5%;
    text-align: center;
}

.added-category-list{
    width: 100% !important;
    text-align: center;
    width: 100%;
}

.added-category-list > thead > tr > th{
    background-color: #124E78;
    color: #FFF8F0;
}

.adding-category-list{
    width: 100% !important;
    margin-top: 5%;  
}

.adding-of-materials-content{
    width: 100%;
    margin-top: 2%;
}

.new-category-table{
    width: 100% !important;
    text-align: center;
}

.new-category-table > thead > tr > th{
    background-color: #124E78;
    color: #FFF8F0;
}

#checkbox-category{
    margin-left: 40%;
    margin-top: -2%;
}
/*End of Materials Engineer - Adding of Something*/

/*Start of Materials Engineer - Adding Of Something*/
.add-category-table{
    width: 96% !important;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}
/*End of Materials Engineer - Adding Of Something*/
/*End of Materials Engineer Module*/