/*Index.php*/

/*Side Navigation*/

/*Materials Engineer-Dashboard*/
.add-task-container{
    margin-left: 5%;
    margin-top: 5%;
    height: 100%;
}

#task-textarea{
    margin-top: 5%;
    height: 40%;
}

#save-task-btn{
    float: right;
    margin-top: 5% !important;
}

.today-task-container{
    margin-left: 1%;
    margin-top: 4%;
    width: 112% !important;
    height: 100%;
}

.today-task-table{
    margin-top: -2% !important;
    text-align: center;
    width: 100% !important;
}

#view-all-task-btn{
    float: right;
    margin-top: -2%;
    margin-bottom: -4%;
}

.low-in-quantity-container{
    width: 96% !important;
    margin-left: 2% !important;
    margin-top: 5%;
}

.low-quantity-table{
    width: 100% !important;
    text-align: center;
}

/*Materials Engineer-Hauling*/
.date-container{
    float: right !important;
}

.container{
    margin-top: 5%;
}
/*Materials Engineer- Site Materials*/
.site-materials-table{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center !important;
    width: 96% !important;
}

.site-materials-search{
    width: 25% !important;
    margin-top: 3%;
    margin-left: 2%;
}

/*Materials Engineer - Account*/
.account-btn{
    float: right !important;
}

/*Materials Engineer - Report Page*/
.reportpage-table{
    width: 96% !important;
    margin-top: 3% !important;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}

#generate-report{
    float: right !important;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

/*Materials Engineer - Adding of Something*/
.adding-table{
    width: 60% !important;
    margin-left: 10%;
    text-align: center;
}




/*Admin-Dashboard*/
.dashboard-card-container{
    margin-left: 1% !important;
    margin-top: 5%;
    text-align: center;
}

.account-card-container{
    width: 30%;
    margin-left: 1%;
}

.password-card-container{
    width: 30%;
    margin-left: 3%;
}

.project-card-container{
    width: 30%;
    margin-left: 3%;
}

/*List of Accounts*/
.list-of-accounts-container{
    width: 96%;
    margin-left: 2%;
    margin-top: 3%;
}

.list-of-accounts-table{
    text-align: center;
}